<app-header></app-header>

<ion-content padding>

  <div class="profile-content">

    <div class="profile-header">
      <img [src]="chosenImage" alt="Profile image" class="profile-image">
      <div class="profile-info">
        <div class="profile-info-position">
          <h3 class="profile-pseudo">tomlenbzh</h3>
          <ion-icon name="camera" class="profile-camera-button" (click)="getPicture('camera')"></ion-icon>
          <ion-icon name="images" class="profile-camera-button" (click)="getPicture('gallery')"></ion-icon>
          <!-- <button class="sign-out-button">Sign Out</button> -->
        </div>
      </div>
    </div>

    <div class="profile-options">
      <p>Check network's quality:</p>
      <p>Adjust brightness:</p>
      <ion-range min="0" max="10" step="1" snaps="false" pin="true" color="primary" [(ngModel)]="brightness"
        (ionChange)="changeBrightness()">
        <ion-icon size="small" slot="start" name="moon"></ion-icon>
        <ion-icon slot="end" name="sunny"></ion-icon>
      </ion-range>
    </div>
  </div>

</ion-content>