.profile-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 10px 10px 20px;
  border: 1px solid #ed9019;
  border-radius: 5px;
  background-color: #16202c;
}

.profile-header {
  position: relative;
}

.profile-image-div {
  width: 20vh;
  height: 20vh;
  border: 1px solid #ed9019;
  background-color: black;
  border-radius: 50%;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
}

.profile-pseudo {
  position: relative;
  color: white;
}

.profile-info {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
}

.profile-info-position {
  position: relative;
  text-align: center;
}

.profile-camera-button {
  width: 30px;
  height: 30px;
  padding: 10px;
  border: 1px solid #ed9019;
  border-radius: 50%;
  color: white;
  background-color: #0e2f50;
  margin: 5px;
}

.sign-out-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 3em;
  padding: 0px 20px 0px 20px;
  border: 1px solid #ed9019;
  border-radius: 1.5em;
  font-size: medium;
  color: white;
  background-color: #872626;
}

.profile-options {
  color: white;
  margin-top: 5vh;
}