<app-header></app-header>

<ion-content padding>

  <div class="profile-content">

    <div class="profile-header">
      <img [src]="profileImage" alt="" class="profile-image">
      <div class="profile-info">
        <div class="profile-info-position">
          <h3 class="profile-pseudo">tomlenbzh</h3>
          <ion-icon name="camera" class="profile-camera-button"></ion-icon>
          <!-- <button class="sign-out-button">Sign Out</button> -->
        </div>
      </div>
    </div>

    <div class="profile-options">
      <p>Check network's quality:</p>
      <p>Adjust brightness:</p>
    </div>
  </div>

</ion-content>