.header {
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 1.5em;
  vertical-align: middle;
  text-align: center;
  color: white;
  border-bottom: 1px solid #ed9019;
  background-color: #16202c;
}

.sub-header {
  font-size: 1.5em;
  vertical-align: middle;
  text-align: center;
  color: #ed9019;
  border-bottom: 1px solid #ed9019;
  background-color: #0e2f50;
}

.sub-header-columns {
  text-align: center;
}

.sub-header-scores {
  font-size: small;
  color: white;
  top: -5px;
  left: -5px;
  position: relative;
}