<!-- Main Header - Navigation -->
<div class="header">
  <ion-grid>
    <ion-row>
      <ion-col col-2 routerLink="/home">
        <ion-icon name="home"></ion-icon>
      </ion-col>
      <ion-col col-8>
        <span>Boomer</span>
      </ion-col>
      <ion-col col-2 routerLink="/profile">
        <ion-icon name="contact"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<!-- Sub-Header - Scores -->
<div class="sub-header">
  <ion-grid>
    <ion-row>
      <ion-col col-4 class="sub-header-columns animated flipInY">
        <span class="sub-header-data" *ngIf="user">{{user.score}}</span>
        <ion-icon name="star"></ion-icon>
      </ion-col>
      <ion-col col-4 class="sub-header-columns animated flipInY">
        <span class="sub-header-data" *ngIf="user">{{user.defeat}}</span>
        <ion-icon name="heart-dislike"></ion-icon>
      </ion-col>
      <ion-col col-4 class="sub-header-columns animated flipInY" routerLink="/scores">
        <ion-icon name="stats"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>