.rank-card {
  font-size: 1.5em;
  vertical-align: middle;
  color: white;
  border: 1px solid #ed9019;
  border-radius: 5px;
  background-color: #16202c;
  margin-bottom: 10px;
}

.rank-card {
  text-align: center;
}

.rank-column {
  width: 30px;
  height: 30px;
  border: 1px solid #ed9019;
  border-radius: 50%;
  text-align: center;
  color: #ed9019;
}

.rank-text {
  margin-top: 5px;
  font-size: 15px;
  text-align: center;
  color: white
}

.rank-image {
  width: 30px;
  height: 30px;
  border: 1px solid #ed9019;
  border-radius: 50%
}